*{margin: 0; padding:0;}

body{background: blue;}

html, body{height: 100%;}

/* .sidebar{width:400px ;
float: left;
height: 100%;
background-color: black;}

.content{width:calc(100% - 400px);
float: left;
height: 100%;
background-color: #ccc;} */



/* Daqui pra baixo é box  */

/* .box{width: calc((100% / 3) + 100px);
height: 100px;
background-color: brown;} */



/* Daqui pra baixo é box1  */

/* VW = Viewport width; Largura do Viewport *OBS= Não leva em consideração a scroll-bar.
VH = Viewport Height; Altura do Viewport  *OBS= Não leva em consideração a scroll-bar.*/

.box1{width: 100vw; 
    height: 90vh; 
    background-color: red;}

.box{width: 10px;
    height: 10000px;}